@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family: Roboto;
$font-size: 16px;
$bg-color-crv: #B50014;
$bg-color: #000000f0;
$text-color: #000;
$text-color-2: #fff;


body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    font-family: $font-family;
    color: $text-color-2;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff30;
}

::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
}

.dark-theme {
    background-color: $bg-color(#fff);
    color: $text-color(#000);
    color: $text-color-2(#fff);
}

.popup {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $bg-color-crv;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;


    #close {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: #ffffff53;
        border: 0;
        border-radius: 100%;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        top: 10px;
        right: 10px;
    }

    p {
        margin: 0 auto;
        padding: 10px 0px;
        color: #fff;
    }

}

nav {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $bg-color-crv;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        height: 100px;
        .logoo {
            top: 0;
            position: relative;
            z-index: 200;
            flex: 1;
            display: flex;
            justify-content: center;
            top: 35px;
            img {
                padding-left: 20px;
                max-width: 180px;
            }

            ul {
                flex: 1;
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                max-width: 1000px;
    
                .vidi {
                    padding: 0;
                    margin-top: -5px;
                    .pdf {
                        padding-left: 0px;
                        padding-right: 2px;
                        vertical-align: -6.5px;
                    }
                }
    
                li {
                    display: inline;
                    padding: 20px 20px 20px 0px;
    
                    a {
                        text-wrap: nowrap;
                        text-decoration: none;
                        color: #fff;
                        display: inline-block;
                        transition: 0.15s ease-in-out;
                        max-width: 150px;
    
                        &:hover {
                            transform: scale(1.06);
                            transition: 0.15s ease-in-out;
                        }
                    }
                }
            }
        }

        .toggle_btn {
            display: none;
            cursor: pointer;
        }
    }


    .time {
        background-color: $bg-color;
        color: #fff;
        text-align: left;
        font-size: 14px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: right;

        .time-p {
            padding-right: 12%;
            max-width: 500px;
            justify-content: right;

            i {
                padding-right: 50px;
            }

            p {
                margin: 0;
                display: inline-block;
                padding: 2px;
            }

            .bold {
                font-weight: bold;
                padding-left: 3px;
            }

            img {
                margin: 0;
                height: 14px;
                width: 14px;
                vertical-align: middle;

            }
        }
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .drop_menu {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        right: -100%;
        transition: display 0.5s ease-in-out;
        height: 100%;
        text-align: center;
        background-color: $bg-color-crv;

        li {
            display: block;
            padding: 15px;

            a {
                text-decoration: none;
                color: #fff;

            }
        }
    }

    .drop_menu.open {
        height: 100%;
        display: block;
    }

    .swiper1 {
        position: relative;
        width: 100%;

        .swiper-wrapper {

            img {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }


        .slajdovi {
            margin: 0 auto;
            position: relative;
            height: 100%;
            max-width: 300px;
            bottom: 20px;

            .swiper-button-next,
            .swiper-button-prev,
            .swiper-pagination {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }

            .swiper-button-next {
                border: 1px solid white;
                border-radius: 100%;
                right: 0px;
                top: -16px;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    font-size: 17px;
                    margin-left: 2px;
                }
            }

            .swiper-button-prev {
                border: 1px solid white;
                border-radius: 100%;
                left: 0px;
                top: -16px;
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    font-size: 17px;
                    margin-right: 2px;
                }
            }

            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background-color: #B50014;
                border: 2px solid white;
                height: 10px;
                width: 10px;
            }

            .swiper-pagination-bullet {
                height: 10px;
                width: 10px;
                margin: 10px;
                background-color: #fff;
                opacity: 1;
                border: 1px solid black;
            }
        }
    }

    .info-slider {
        position: absolute;
        z-index: 1;
        width: 500px;
        height: 280px;
        bottom: 28%;
        left: 0;
        background-color: #17171773;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: right;

        .sliderr {

            padding-right: 30px;
            width: 220px;
            padding-bottom: 20px;

            .naslov {
                font-weight: bold;
                font-size: 28px;
            }

            .opis-naslov {
                color: #cecbcb;
                font-size: 14px;
            }
        }
    }

    img {
        z-index: 0;
        position: relative;
        width: 100%;
        height: 100%;
    }
}


.dry-aged {
    display: flex;
    align-items: center;
    color: #fff;

    .ostalo {
        width: 50%;
        padding-top: 160px;
        display: flex;
        justify-content: center;
    }

    .ostalo2 {
        max-width: 400px;

        h3 {
            margin-top: -20px;
        }

        p {
            max-width: 400px;
        }

        button {
            background-color: $bg-color-crv;
            color: #fff;
            width: 170px;
            height: 50px;
            border-radius: 25px;
            margin: 45px 10px 0px 0px;
            border: 1px solid white;
            cursor: pointer;

            p {
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.15s ease-in-out;
                width: 100%;
                height: 100%;
                margin: 0;

                &:hover {
                    transform: scale(1.07);
                    transition: 0.15s ease-in-out;
                }
            }

        }
    }

    .dry-aged-img {
        width: 50%;
        margin-top: 150px;
        display: flex;
        justify-content: left;

        .slike {
            #cetvrta {
                width: 100%;
                max-height: 400px;
            }

            .slikee {
                display: flex;
                max-height: 150px;

                #prva,
                #druga {
                    padding: 3px 7px 0px 0px;
                    flex: 1;
                    width: 30%;
                    height: auto;
                }

                #treca {
                    padding-top: 3px;
                    flex: 1;
                    width: 30%;
                    height: auto;
                }
            }
        }
    }
}

.buchen {
    position: relative;
    width: 100%;
    height: 500px;
    color: #fff;
    text-align: left;
    background-color: $bg-color-crv;
    display: flex;
    margin-top: 150px;

    .lista {
        flex: 1;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .list1 {

            ul {
                padding-left: 20px;
                max-width: 200px;
            }

            button {
                background-color: #fff;
                color: black;
                width: 170px;
                height: 50px;
                border-radius: 25px;
                margin: 45px 10px 0px 0px;
                border: 2px solid red;
                cursor: pointer;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    transition: 0.15s ease-in-out;
                    color: $text-color;

                    &:hover {
                        transform: scale(1.07);
                        transition: 0.15s ease-in-out;
                    }
                }

            }
        }

    }



    .dry-aged-img {
        flex: 1;
        width: 50%;
        padding: 0;
        margin: 0;

        #buchen-img {
            width: 100%;
            height: 500px;
        }
    }
}

.handwerk {
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0px 0px 0px;
    color: #fff;
    text-align: center;
    max-width: 680px;

    button {
        background-color: $bg-color-crv;
        color: #fff;
        width: 170px;
        height: 50px;
        border-radius: 25px;
        margin: 45px 10px 0px 0px;
        border: 1px solid white;
        transition: 0.15s ease-in-out;
        cursor: pointer;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            transition: 0.15s ease-in-out;

            &:hover {
                transform: scale(1.07);
                transition: 0.15s ease-in-out;
            }
        }
    }
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 0px 0px;
    color: #fff;
    width: 100%;

    .levi-hr {
        margin: 0px 10px 0px 0px;
        width: 470px;
        border-color: #252525;
    }

    .desni-hr {
        margin: 0px 0px 0px 10px;
        width: 470px;
        border-color: #252525;
    }
}

.photos {
    text-align: center;
    display: flex;
    padding-top: 40px;

    .photos1,
    .photos2 {
        flex: 1;
    }

    .photos1 {
        display: flex;
        justify-content: right;
    }

    .photos2 {
        display: flex;
        justify-content: left;
    }

    img {
        padding: 30px 10px 170px 5px;
        width: 230px;
        height: 220px;
    }
}

.spices {
    position: relative;
    width: 100%;
    height: 500px;
    color: #fff;
    text-align: left;
    background-color: $bg-color-crv;
    display: flex;

    .dry-aged-img {
        flex: 1;
        width: 50%;
        padding: 0;
        margin: 0;
        overflow: hidden;

        img {
            flex: 1;
            width: 100%;
            height: 100%;
        }
    }

    .lista {
        flex: 1;
        display: flex;
        justify-content: left;
        align-items: center;

        .list1 {
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: left;

            h2 {
                max-width: 400px;
            }

            h3 {
                max-width: 400px;
                margin-top: -15px;
            }

            p {
                max-width: 400px;
            }
        }
    }
}

.rellax {
    background-image: url("photos/parallax.png");
    min-height: 540px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    .rellax2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 193px;

        .pp {
            padding: 0;
            margin: 0;
            font-weight: bold;
            font-size: 35px;
            color: #fff;
        }

        button {
            background-color: #fff;
            border: 1px solid red;
            width: 160px;
            height: 40px;
            border-radius: 25px;
            margin-top: 40px;
            cursor: pointer;
            color: $text-color;

            .ppp {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                transition: 0.15s ease-in-out;

                &:hover {
                    transform: scale(1.07);
                    transition: 0.15s ease-in-out;
                }
            }
        }
    }
}

.metzgerei {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logotext {
        max-width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            flex: 1;
            padding-top: 127px;
            display: flex;
            justify-content: right;
            align-items: center;
            padding-right: 120px;

            img {
                max-width: 100%;
            }
        }

        .text {
            display: flex;
            justify-content: left;
            flex-direction: column;
            font-weight: bold;
            font-size: 30px;
            color: #fff;
            margin: 0;
            flex: 1;
            padding-left: 120px;

            p {
                margin: 0;
                padding-top: 167px;
                text-align: left;
            }

            .butoni {
                button {
                    background-color: $bg-color-crv;
                    color: #fff;
                    width: 160px;
                    height: 45px;
                    border-radius: 25px;
                    border: 1px solid white;
                    cursor: pointer;

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        transition: 0.15s ease-in-out;

                        &:hover {
                            transform: scale(1.07);
                            transition: 0.15s ease-in-out;
                        }
                    }

                }
            }
        }
    }

}

.group2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 0px 0px;
    color: #fff;
    max-width: 100%;

    .levi-hr {
        margin: 0px 10px 0px 0px;
        width: 470px;
        border-color: #252525;
    }

    .desni-hr {
        margin: 0px 0px 0px 10px;
        width: 470px;
        border-color: #252525;
    }
}

.allprices {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px;

    p {
        display: flex;
        color: #6b6a6a;
        font-size: 12px;
    }

    .prices {
        display: flex;

        .prices1 {
            width: 100%;
            display: flex;

            .nagrada1,
            .nagrada2 {
                text-align: center;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 150px;
                justify-content: center;

                p {
                    max-width: 150px;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        .prices2 {
            display: flex;

            .nagrada3,
            .nagrada4 {
                text-align: center;
                padding-left: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 150px;
                justify-content: center;

                p {
                    max-width: 150px;
                }

                img {
                    max-width: 100%;
                }
            }
        }

    }

    .ausgezeichneter {
        font-weight: bold;
        font-size: 30px;
        color: #fff;
        margin: 0;
        padding-right: 40px;
    }
}


.group3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;

    .levi-hr {
        margin: 0px 10px 0px 0px;
        width: 470px;
        border-color: #252525;
    }

    .desni-hr {
        margin: 0px 0px 0px 10px;
        width: 470px;
        border-color: #252525;
    }
}

.empf {
    margin: 0;
    padding-top: 50px;
    color: #6b6a6a;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.leute {
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.comments {
    height: 500px;
    padding-top: 60px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .swiper2 {
        justify-content: center;
        display: flex;
        overflow: visible;
        align-items: center;

        .swiper-wrapper {
            height: 100%;
            display: flex;
            max-width: 100%;
            text-align: center;
            position: relative;

            .swiper-slide {

                .comment3,
                .comment2 {
                    display: none;
                }
            }


            .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
                width: 400px !important;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                margin: 0px 45px;

                .comment1,
                .comment3,
                .comment2 {
                    .iznad {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 30px;

                        .grillkurs {
                            display: flex;
                            max-width: 70px;
                            z-index: 50;
                        }

                        .stars {
                            padding-top: 10px;
                            display: flex;
                            max-width: 70px;
                        }
                    }

                    flex: 1;
                    text-align: center;
                    background-color: #3b3b3b;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    height: 400px;

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: bold;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;

                    }

                    .comment_name2 {
                        font-weight: bold;
                    }

                    p {
                        margin-top: 30px;
                        color: #fff;
                        max-width: 340px;
                    }

                    .znak {
                        display: flex;
                        position: absolute;
                        bottom: -20px;
                        right: 10px;
                    }
                }
            }

            .swiper-slide.swiper-slide-visible.swiper-slide-next {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                width: 300px;
                height: auto;
                opacity: 0.6;

                .comment1,
                .comment3,
                .comment2 {
                    .iznad {
                        display: none;
                    }

                    flex: 1;
                    text-align: center;
                    height: 300px;
                    background-color: #3b3b3b;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 320px;

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: lighter;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;

                    }

                    p {
                        font-size: 10px;
                        margin-top: 25px;
                        color: #fff;
                        max-width: 60%;
                    }

                    .znak {
                        display: none;
                    }
                }
            }

            .swiper-slide.swiper-slide-visible.swiper-slide-prev {
                display: flex;
                justify-content: right;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                width: 300px;
                height: auto;
                opacity: 0.6;

                .comment1,
                .comment3,
                .comment2 {
                    .iznad {
                        display: none;
                    }

                    flex: 1;
                    text-align: center;
                    height: 300px;
                    background-color: #3b3b3b;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 320px;

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: lighter;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;

                    }

                    p {
                        font-size: 10px;
                        margin-top: 25px;
                        color: #fff;
                        max-width: 60%;
                    }

                    .znak {
                        display: none;
                    }
                }
            }
        }

        .slajdovi {
            position: absolute;
            height: 100%;

            .swiper-button-next,
            .swiper-button-prev {
                margin-top: auto;
                margin-bottom: auto;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: #0f0d0db0;
                border: 1px solid white;
            }

            .swiper-button-next {
                border-radius: 100%;
                height: 25px;
                width: 25px;
                right: -225px;

                &::after {
                    font-size: 18px;
                    margin-left: 2px;
                }
            }

            .swiper-button-prev {
                border-radius: 100%;
                left: -225px;
                height: 25px;
                width: 25px;

                &::after {
                    font-size: 18px;
                    margin-right: 2px;
                }
            }
        }
    }
}

.alle {
    margin: 80px auto 50px auto;
    background-color: $bg-color-crv;
    color: #fff;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        transition: 0.15s ease-in-out;

        &:hover {
            transform: scale(1.07);
            transition: 0.15s ease-in-out;
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: $bg-color-crv;

    .logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-img {
            width: 100px;
            height: 100px;
        }
    }

    .info-glavni {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;

        .infoo {
            text-align: left;

            p {
                position: relative;
                color: #fff;
                font-size: 12px;

                &::before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }

                &.fa-map-pin::before {
                    content: '\f276';
                }

                &.fa-phone::before {
                    content: '\f095';
                }

                &.fa-envelope::before {
                    content: '\f0e0';
                }
            }
        }
    }


    .social-media {

        flex: 1;
        color: #fff;
        display: flex;
        align-items: center;


        p {
            font-size: 14px;
            padding-right: 10px;
        }

        .icons {
            display: flex;
            gap: 5px;

            .fb,
            .tw,
            .ig,
            .yt {
                border: 1px solid white;
                border-radius: 100%;
                padding: 0px;
                margin: 0;
                width: 30px;
                height: 30px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin-left: 1px;
                }
            }
        }

    }
}

.last-container {
    background-color: #ff0000;
    margin-top: 0px;

    .last1 {
        padding: 0px;
        display: flex;
        background-color: #000000ab;
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 20px;

        .lastt {
            display: flex;
            width: 80%;

            .frst {
                display: flex;
                flex: 1;
                width: 350px;
                justify-content: left;

                .first {
                    margin: 0;
                    color: #999999;
                    font-size: 11px;
                }
            }

            .scnd {
                display: flex;
                flex: 1;
                justify-content: right;

                .second {
                    margin: 0;
                    color: #999999;
                    font-size: 11px
                }
            }

            .sec {
                color: #b6b6b6;
            }
        }

    }
}


@media (max-width: 1350px) {
    .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .info-slider {
            position: absolute;
            z-index: 1;
            width: 500px;
            height: 280px;
            bottom: 20%;
            left: 0;
            background-color: #17171773;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: right;

            .sliderr {

                padding-right: 30px;
                width: 220px;
                padding-bottom: 20px;

                .naslov {
                    font-weight: bold;
                    font-size: 28px;
                }

                .opis-naslov {
                    color: #cecbcb;
                    font-size: 14px;
                }
            }
        }

        img {
            z-index: 0;
            position: relative;
            width: 100%;
            height: 100%;

        }
    }
}

@media (max-width: 1230px) {
    .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .info-slider {
            position: absolute;
            z-index: 1;
            width: 500px;
            height: 280px;
            bottom: 15%;
            left: 0;
            background-color: #17171773;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: right;

            .sliderr {

                padding-right: 30px;
                width: 220px;
                padding-bottom: 20px;

                .naslov {
                    font-weight: bold;
                    font-size: 28px;
                }

                .opis-naslov {
                    color: #cecbcb;
                    font-size: 14px;
                }
            }
        }

        img {
            z-index: 0;
            position: relative;
            width: 100%;
            height: 100%;

        }
    }
}

@media (max-width: 1100px) {

    nav {
        .header {
            font-size: 12px;
        }

    }

    .slider {
        position: relative;
        width: 100%;
        height: 100%;

        .info-slider {
            position: absolute;
            z-index: 1;
            width: 500px;
            height: 280px;
            bottom: 15%;
            left: 0;
            background-color: #17171773;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: right;

            .sliderr {

                padding-right: 30px;
                width: 220px;
                padding-bottom: 20px;

                .naslov {
                    font-weight: bold;
                    font-size: 28px;
                }

                .opis-naslov {
                    color: #cecbcb;
                    font-size: 14px;
                }
            }
        }

        img {
            z-index: 0;
            position: relative;
            width: 100%;
            height: 100%;

        }
    }
}

@media (max-width: 1200px) {
    .popup {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    nav {
        .header{
            .logoo{
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1050px) {
    nav {
        .header {
            max-width: 100%;
            .logoo{
                ul {
                    max-width: 500px;
    
                    .logo {
                        display: flex;
                        left: 10px;
                        z-index: 100;
                    }
    
                    max-width: 100%;
    
                    .vidi {
                        position: absolute;
                        right: 60px;
                        z-index: 200;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        a {
                            display: block;
                        }
                    }
    
                    li {
                        display: none;
    
                        a {
                            display: none;
                        }
                    }
                }            
            }

            .toggle_btn {
                display: block;
                color: #fff;
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 30px;
                z-index: 500;
            }
        }    
    }
    
}   

@media (max-width: 1020px) {
    .slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;

        .drop_menu {
            display: flex;
            flex-direction: column;
            transition: 0.5s ease-in-out;
            position: absolute;
            z-index: 80;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            li {
                display: block;
                padding: 20px;

                a {
                    text-decoration: none;
                    color: #fff;

                }
            }
        }

        .drop_menu.open {
            display: flex;
            right: 0%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .allprices {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 68px 0px 100px 0px;

        p {
            display: flex;
            color: #6b6a6a;
            font-size: 12px;
        }

        .prices {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            width: 100%;
            padding-top: 78px;

            .prices1 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                padding-top: 30px;

                .nagrada1,
                .nagrada2 {
                    text-align: center;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 150px;
                    justify-content: center;

                    p {
                        margin: 10px 0px 0px 0px;
                        max-width: 150px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }

            .prices2 {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;

                .nagrada3,
                .nagrada4 {
                    text-align: center;
                    padding-left: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 150px;
                    justify-content: center;

                    p {
                        margin: 10px 0px 0px 0px;
                        max-width: 150px;
                    }

                    img {
                        max-width: 100%;
                    }
                }
            }

        }

        .ausgezeichneter {
            font-weight: bold;
            font-size: 30px;
            color: #fff;
            margin: 0;
            padding: 0;
        }
    }


    
    .comments {
        height: 550px;
        padding-top: 60px;
        max-width: 400px;
        margin: 0 auto;

        .swiper2 {
            justify-content: center;
            display: flex;

            .swiper-wrapper {
                .swiper-slide.swiper-slide-visible.swiper-slide-active {

                    .comment1,
                    .comment2,
                    .comment3 {
                        flex: 1;
                        text-align: center;
                        height: 380px;
                        background-color: #3b3b3b;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-top: auto;
                        margin-bottom: auto;
                        position: relative;

                        .iznad {
                            position: absolute;
                            flex: 1;
                            top: 0;
                            padding-bottom: 20px;

                            .grillkurs {
                                display: flex;
                                max-width: 70px;
                                z-index: 50;
                            }

                            .stars {
                                padding-top: 10px;
                            }
                        }

                        p {
                            color: #fff;
                            max-width: 320px;
                        }

                        .znak {
                            opacity: 0;
                        }
                    }
                }
            }

            .slajdovi {
                position: absolute;
                width: 200px;
                height: 50px;
                top: 190px;
                .swiper-button-next{
                    left: 120px;
                    width: 50px;
                    height: 50px;
                    border: 3px solid white;
                    &::after{
                        font-size: 35px;
                        font-weight: bold;
                        margin-left: 5px;
                    }
                }

                .swiper-button-prev{
                    left: 30px;
                    width: 50px;
                    height: 50px;
                    border: 3px solid white;
                    &::after{
                        font-size: 35px;
                        font-weight: bold;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    nav {
        .time {
            color: #fff;
            text-align: left;
            font-size: 14px;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: right;
            vertical-align: middle;

            .time-p {
                display: flex;
                flex-direction: column;
                text-align: right;
                margin: auto;
                min-width: 1020px;

                p {
                    margin: 0;
                    display: inline-block;
                    padding: 2px;
                }

                .bold {
                    font-weight: bold;
                    padding-left: 3px;
                }

                img {
                    margin: 0;
                    height: 14px;
                    width: 14px;
                    z-index: 800;
                }
            }
        }
    }


}

@media (max-width: 980px) {

    .photos {
        transition: 0.5s ease-in-out;
        text-align: center;
        padding-top: 44px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .photos1,
        .photos2 {

            .schwein,
            .wurstchen {
                padding: 9px 9px 0px 0px;

            }

            display: flex;
            justify-content: center;

        }

        .photos2 {
            padding-bottom: 80px;
        }



        img {
            padding: 9px 0px 0px 0px;
            width: 230px;
            height: 220px;
        }
    }


}

@media (max-width: 920px) {
    .slider {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;

        .swiper1 {
            .slajdovi {
                display: none;
            }
        }

        .info-slider {
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            position: relative;
            bottom: 0;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00000000;

            .sliderr {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;

                .naslov {
                    font-size: 25px;
                    margin: 0;
                    text-align: center;
                }

                .opis-naslov {
                    font-size: 14px;
                    text-align: center;
                    width: 385px;
                }
            }
        }
    }

    .dry-aged {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        
        .ostalo {
            width: 100%;
            align-items: center;

            padding: 0;

            .ostalo2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    font-size: 25px;
                }

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    max-width: 345px;
                }

                .buttons {
                    display: flex;
                    justify-content: center;

                    button {
                        width: 182px;
                        height: 49px;
                        margin-left: 0;
                        margin-top: 20px;
                        display: flex;

                        p {
                            transition: 0.2s ease-in-out;

                            &:hover {
                                transform: scale(1.08);
                                transition: 0.2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        .dry-aged-img {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;

            .slike {
                #cetvrta {
                    width: 100%;
                    max-height: 400px;
                }

                .slikee {
                    display: flex;
                    max-height: 150px;

                    #prva,
                    #druga {
                        padding: 5px 7px 0px 0px;
                        flex: 1;
                        width: 30%;
                        height: auto;
                    }

                    #treca {
                        padding: 5px 0px 0px 0px;
                        flex: 1;
                        width: 30%;
                        height: auto;
                    }
                }
            }
        }
    }

    .allprices {
        .prices {
            display: flex;
            flex-direction: column-reverse;

            .ausgezeichneter {
                padding: 0;
            }
            .prices1{
                padding-top: 30px;
            }

            .prices2{
                padding-top: 0;
            }
            .nagrada1,
            .nagrada2,
            .nagrada3,
            .nagrada4 {
                text-align: center;
                padding-left: 0px;

                img {
                    max-width: 100%;
                }

                p {
                    color: #6b6a6a;
                    font-size: 12px;
                    max-width: 125px;
                }
            }

        }
    }

    .buchen {
        position: relative;
        height: 100%;
        color: #fff;
        text-align: left;
        background-color: $bg-color-crv;
        display: flex;
        flex-direction: column;


        .lista {
            flex: 1;
            width: 100%;
            height: 70%;

            .list1 {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 25px;
                    text-align: center;
                    margin-top: 100px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    margin: 0;
                    max-width: 300px;

                    li {
                        list-style: circle;
                        max-width: 100%;
                        text-align: center;
                        font-size: 14px;
                    }

                }

                button {
                    background-color: #fff;
                    color: black;
                    width: 170px;
                    height: 50px;
                    border-radius: 25px;
                    border: 0;
                    margin: 50px 0px 0px 0px;
                }
            }
        }

        

        .dry-aged-img {
            width: 100%;
            padding: 0;
            margin-top: 50px;
            display: flex;

            #buchen-img {
                width: 100%;
                height: auto;
            }
        }
    }

    .handwerk{
        max-width: 365px;
        h2{
            font-size: 25px;
        }
        h4{
            font-size: 17px;
        }
        p{
            font-size: 14px;
        }
    }

    .spices {
        position: relative;
        width: 100%;
        height: auto;
        color: #fff;
        text-align: left;
        background-color: $bg-color-crv;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 80px;


        .dry-aged-img {
            display: flex;
            flex: 1;
            width: 100%;
            padding: 0;
            margin: 0;
            padding-top: 50px;

            img {
                width: 100%;
            }
        }

        .lista {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .list1 {
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    max-width: 230px;
                    font-size: 25px;
                }

                h3 {
                    max-width: 290px;
                    margin-top: 0px;
                    font-size: 17px;
                }

                p {
                    max-width: 70%;
                    font-size: 14px;
                }
            }
        }
    }

    .photos {

        .photos1,
        .photos2 {
            padding-bottom: 0px;
        }
    }

    .rellax{
        .rellax2{
            button{
                p{
                    font-size: 13px;
                }
            }
            p{
                font-size: 25px;
            }
        }
    }

    .metzgerei {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;

        .logotext {
            max-width: 100%;
            display: flex;
            flex-direction: column;

            .logo {
                flex: 1;
                padding-top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                img {
                    max-width: 100%;
                }
            }

            .text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-weight: bold;
                font-size: 30px;
                color: #fff;
                margin: 0;
                flex: 1;
                padding-top: 100px;
                padding: 50px 0px 0px 0px;
                .butoni {
                    display: flex;
                    flex-direction: column;
                    width: 250px;

                    p {
                        margin: 0;
                        padding-top: 0px;
                        text-align: center;
                    }

                    button {
                        background-color: $bg-color-crv;
                        color: #fff;
                        width: 160px;
                        height: 45px;
                        border-radius: 25px;
                        border: 1px solid white;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .leute {
        margin: 0 auto;
        max-width: 300px;
    }
}

@media (max-width: 810px) {
    .footer {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: $bg-color-crv;
        flex-direction: column;
        justify-content: center;

        .logo {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-img {
                width: 100px;
                height: 100px;
                padding: 30px 0px;
            }
        }

        .info-glavni {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: center;

            .infoo {
                text-align: center;

                p {
                    position: relative;
                    color: #fff;
                    font-size: 12px;

                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                        font-family: 'Font Awesome 5 Free';
                        font-weight: 900;
                    }

                    &.fa-map-pin::before {
                        content: '';
                    }

                    &.fa-phone::before {
                        content: '';
                    }

                    &.fa-envelope::before {
                        content: '';
                    }
                }
            }
        }

        .social-media {
            flex: 1;
            color: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;

            p {
                font-size: 14px;
                padding: 0px 15px;

            }

            .icons {
                padding-bottom: 20px;

                .fb,
                .tw,
                .ig,
                .yt {
                    border: 1px solid white;
                    border-radius: 100%;
                    padding: 0px;
                    margin: 0;
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        margin-left: 0px;
                        margin-top: 1px;
                    }
                }
            }
        }
    }

    .last-container {
        background-color: #ff0000;
        margin-top: 0px;

        .last1 {
            padding: 0px;
            display: flex;

            background-color: #000000ab;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100%;

            .lastt {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;
                gap: 10px;
                padding: 20px;

                .frst {
                    display: flex;
                    width: 100%;
                    justify-content: center;

                    .first {
                        margin: 0;
                        color: #999999;
                        font-size: 11px;
                    }
                }

                .scnd {
                    display: flex;

                    justify-content: center;

                    .second {
                        margin: 0;
                        color: #999999;
                        font-size: 11px
                    }
                }

                .sec {
                    color: #b6b6b6;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .photos{
        img{
            max-width: 40%;
            height: auto;
        }
    }

    .slider{
        .info-slider{
            .sliderr{
                .opis-naslov{
                    max-width: 300px;
                }
            }
        }
    }

    .comments{
        max-width: 320px;
        .swiper2{
            .swiper-wrapper{
                
                    .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active{
                        .comment1, .comment2, .comment3{
                            p{
                                margin-top: 100px;
                                max-width: 300px;
                            }
                            .comment_name2{
                                margin-top: 20px;
                            }
                        }
                    
                }
            }
        }
    }

    .metzgerei {

        .logotext {
           
            .logo {
                
                img {
                    max-width: 60%;
                }
            }

            .text {
                
                .butoni {
                    
                    p {
                        font-size: 22px;
                        margin: 0;
                        padding-top: 0px;
                        text-align: center;
                    }

                    button {
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .dry-aged{
        .ostalo{
            max-width: 100%;
            .ostalo2{
                max-width: 100%;
                .buttons{
                    button{
                        width: 150px;
                    }
                }
            }
        }
    }
    .handwerk{
        
        p{
            margin: 0 auto;
            max-width: 300px;
        }
    }
}

@media (max-width: 1150px) {
    
}