@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9411764706);
  font-family: Roboto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1882352941);
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 10px;
}

.popup {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 50px 0;
  text-align: center;
  background-color: #B50014;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}
.popup .strane {
  width: 100%;
  position: relative;
  display: flex;
}
.popup .strane #close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3254901961);
  margin-left: 50px;
  padding-left: 5.5px;
  margin: 0;
  border: 0;
  right: 50px;
  border-radius: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.popup .strane p {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  color: #fff;
}

nav {
  font-family: Roboto;
  font-size: 16px;
  background-color: #B50014;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav .logo {
  width: 160px;
  height: 160px;
  vertical-align: -115px;
  position: relative;
  z-index: 2;
}
nav .pdf {
  vertical-align: -7px;
}
nav .toggle_btn {
  display: none;
  cursor: pointer;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  padding-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: 0.15s ease-in-out;
}
nav ul li a:hover {
  transform: scale(1.06);
  transition: 0.15s ease-in-out;
}
nav .time {
  background-color: rgba(0, 0, 0, 0.9411764706);
  color: #fff;
  text-align: left;
  font-size: 14px;
  margin-top: -84px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: right;
  vertical-align: middle;
}
nav .time .time-p {
  text-align: right;
  margin: auto;
  min-width: 1020px;
}
nav .time .time-p p {
  margin: 0;
  display: inline-block;
  padding: 2px;
}
nav .time .time-p .bold {
  font-weight: bold;
  padding-left: 3px;
}
nav .time .time-p img {
  margin: 0;
  height: 14px;
  width: 14px;
  vertical-align: middle;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider .drop_menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  right: -100%;
  transition: display 0.5s ease-in-out;
  height: 100%;
  text-align: center;
  background-color: #B50014;
}
.slider .drop_menu li {
  display: block;
  padding: 15px;
}
.slider .drop_menu li a {
  text-decoration: none;
  color: #fff;
}
.slider .drop_menu.open {
  height: 100%;
  display: block;
}
.slider .swiper1 {
  position: relative;
  width: 100%;
}
.slider .swiper1 .swiper-wrapper img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider .swiper1 .slajdovi {
  margin: 0 auto;
  position: relative;
  height: 100%;
  max-width: 300px;
  bottom: 20px;
}
.slider .swiper1 .slajdovi .swiper-button-next,
.slider .swiper1 .slajdovi .swiper-button-prev,
.slider .swiper1 .slajdovi .swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.slider .swiper1 .slajdovi .swiper-button-next {
  border: 1px solid white;
  border-radius: 100%;
  right: 0px;
  top: -16px;
  height: 25px;
  width: 25px;
}
.slider .swiper1 .slajdovi .swiper-button-next::after {
  font-size: 18px;
  margin-left: 2px;
  margin-top: 2px;
}
.slider .swiper1 .slajdovi .swiper-button-prev {
  border: 1px solid white;
  border-radius: 100%;
  left: 0px;
  top: -16px;
  height: 25px;
  width: 25px;
}
.slider .swiper1 .slajdovi .swiper-button-prev::after {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 2px;
}
.slider .swiper1 .slajdovi .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #B50014;
  border: 2px solid white;
  height: 10px;
  width: 10px;
}
.slider .swiper1 .slajdovi .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  margin: 10px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid black;
}
.slider .info-slider {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 280px;
  bottom: 28%;
  left: 0;
  background-color: rgba(23, 23, 23, 0.4509803922);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: right;
}
.slider .info-slider .sliderr {
  padding-right: 30px;
  width: 220px;
  padding-bottom: 20px;
}
.slider .info-slider .sliderr .naslov {
  font-weight: bold;
  font-size: 28px;
}
.slider .info-slider .sliderr .opis-naslov {
  color: #cecbcb;
  font-size: 14px;
}
.slider img {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.dry-aged {
  display: flex;
  align-items: center;
  color: #fff;
}
.dry-aged .ostalo {
  width: 50%;
  padding-top: 160px;
  display: flex;
  justify-content: center;
}
.dry-aged .ostalo2 {
  max-width: 400px;
}
.dry-aged .ostalo2 h3 {
  margin-top: -20px;
}
.dry-aged .ostalo2 p {
  max-width: 400px;
}
.dry-aged .ostalo2 button {
  background-color: #B50014;
  color: #fff;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 45px 10px 0px 0px;
  border: 1px solid white;
  cursor: pointer;
}
.dry-aged .ostalo2 button p {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease-in-out;
  width: 100%;
  height: 100%;
  margin: 0;
}
.dry-aged .ostalo2 button p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}
.dry-aged .dry-aged-img {
  width: 50%;
  margin-top: 150px;
  display: flex;
  justify-content: left;
}
.dry-aged .dry-aged-img .slike #cetvrta {
  width: 100%;
  max-height: 400px;
}
.dry-aged .dry-aged-img .slike .slikee {
  display: flex;
  max-height: 150px;
}
.dry-aged .dry-aged-img .slike .slikee #prva,
.dry-aged .dry-aged-img .slike .slikee #druga {
  padding: 5px 7px 0px 0px;
  flex: 1;
  width: 30%;
  height: auto;
}
.dry-aged .dry-aged-img .slike .slikee #treca {
  padding: 5px 0px 0px 0px;
  flex: 1;
  width: 30%;
  height: auto;
}

.buchen {
  position: relative;
  width: 100%;
  height: 500px;
  color: #fff;
  text-align: left;
  background-color: #B50014;
  display: flex;
  margin-top: 150px;
}
.buchen .lista {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buchen .lista .list1 ul {
  padding-left: 20px;
  max-width: 200px;
}
.buchen .lista .list1 button {
  background-color: #fff;
  color: black;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 45px 10px 0px 0px;
  border: 2px solid red;
  cursor: pointer;
}
.buchen .lista .list1 button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.buchen .lista .list1 button p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}
.buchen .dry-aged-img {
  flex: 1;
  width: 50%;
  padding: 0;
  margin: 0;
}
.buchen .dry-aged-img #buchen-img {
  width: 100%;
  height: 500px;
}

.handwerk {
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0px 0px 0px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.handwerk button {
  background-color: #B50014;
  color: #fff;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  margin: 45px 10px 0px 0px;
  border: 1px solid white;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.handwerk button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.handwerk button p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
  color: #fff;
  width: 100%;
}
.group .levi-hr {
  margin: 0px 10px 0px 0px;
  width: 430px;
  border-color: #252525;
}
.group .desni-hr {
  margin: 0px 0px 0px 10px;
  width: 430px;
  border-color: #252525;
}

.photos {
  text-align: center;
  display: flex;
  padding-top: 40px;
}
.photos .photos1,
.photos .photos2 {
  flex: 1;
}
.photos .photos1 {
  display: flex;
  justify-content: right;
}
.photos .photos2 {
  display: flex;
  justify-content: left;
}
.photos img {
  padding: 30px 10px 170px 5px;
  width: 230px;
  height: 220px;
}

.spices {
  position: relative;
  width: 100%;
  height: 500px;
  color: #fff;
  text-align: left;
  background-color: #B50014;
  display: flex;
}
.spices .dry-aged-img {
  flex: 1;
  width: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.spices .dry-aged-img img {
  flex: 1;
  width: 100%;
  height: 100%;
}
.spices .lista {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}
.spices .lista .list1 {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.spices .lista .list1 h2 {
  max-width: 400px;
}
.spices .lista .list1 h3 {
  max-width: 400px;
  margin-top: -15px;
}
.spices .lista .list1 p {
  max-width: 400px;
}

.rellax {
  background-image: url("photos/parallax.png");
  min-height: 540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.rellax .rellax2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 193px;
}
.rellax .rellax2 .pp {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
}
.rellax .rellax2 button {
  background-color: #fff;
  border: 1px solid red;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  margin-top: 40px;
  cursor: pointer;
}
.rellax .rellax2 button .ppp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.rellax .rellax2 button .ppp:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}

.metzgerei {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.metzgerei .logotext {
  max-width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.metzgerei .logotext .logo {
  flex: 1;
  padding-top: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.metzgerei .logotext .logo img {
  max-width: 100%;
}
.metzgerei .logotext .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0;
  flex: 1;
}
.metzgerei .logotext .text p {
  margin: 0;
  padding-top: 167px;
  text-align: left;
}
.metzgerei .logotext .text .butoni button {
  background-color: #B50014;
  color: #fff;
  width: 160px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer;
}
.metzgerei .logotext .text .butoni button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.metzgerei .logotext .text .butoni button p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}

.group2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 0px 0px;
  color: #fff;
  max-width: 100%;
}
.group2 .levi-hr {
  margin: 0px 10px 0px 0px;
  width: 430px;
  border-color: #252525;
}
.group2 .desni-hr {
  margin: 0px 0px 0px 10px;
  width: 430px;
  border-color: #252525;
}

.allprices {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
}
.allprices p {
  display: flex;
  color: #6b6a6a;
  font-size: 12px;
}
.allprices .prices {
  display: flex;
}
.allprices .prices .prices1 {
  width: 100%;
  display: flex;
}
.allprices .prices .prices1 .nagrada1,
.allprices .prices .prices1 .nagrada2 {
  text-align: center;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  justify-content: center;
}
.allprices .prices .prices1 .nagrada1 p,
.allprices .prices .prices1 .nagrada2 p {
  max-width: 150px;
}
.allprices .prices .prices1 .nagrada1 img,
.allprices .prices .prices1 .nagrada2 img {
  max-width: 100%;
}
.allprices .prices .prices2 {
  display: flex;
}
.allprices .prices .prices2 .nagrada3,
.allprices .prices .prices2 .nagrada4 {
  text-align: center;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  justify-content: center;
}
.allprices .prices .prices2 .nagrada3 p,
.allprices .prices .prices2 .nagrada4 p {
  max-width: 150px;
}
.allprices .prices .prices2 .nagrada3 img,
.allprices .prices .prices2 .nagrada4 img {
  max-width: 100%;
}
.allprices .ausgezeichneter {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding-right: 20px;
}

.group3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
}
.group3 .levi-hr {
  margin: 0px 10px 0px 0px;
  width: 430px;
  border-color: #252525;
}
.group3 .desni-hr {
  margin: 0px 0px 0px 10px;
  width: 430px;
  border-color: #252525;
}

.empf {
  margin: 0;
  padding-top: 50px;
  color: #6b6a6a;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.leute {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.comments {
  height: 420px;
  padding-top: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.comments .swiper2 {
  justify-content: center;
  display: flex;
  overflow: visible;
  align-items: center;
}
.comments .swiper2 .iznad {
  width: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  z-index: 50;
  top: 100px;
}
.comments .swiper2 .iznad .grillkurs {
  display: flex;
  max-width: 70px;
  z-index: 50;
}
.comments .swiper2 .iznad .stars {
  padding-top: 10px;
  display: flex;
  max-width: 70px;
}
.comments .swiper2 .swiper-wrapper {
  height: 100%;
  display: flex;
  max-width: 550px;
  text-align: center;
  position: relative;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 380px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name2, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name2, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name2 {
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.7;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 p, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 p, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 p {
  margin-top: 65px;
  color: #fff;
  max-width: 320px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .znak, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .znak, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .znak {
  max-width: 100%;
  position: absolute;
  margin-left: 0%;
  margin-top: 0%;
  bottom: -20px;
  right: 20px;
  z-index: 100;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  max-width: 320px;
  height: 260px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.7;
  margin-left: 15px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .comment_name, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .comment_name2, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .comment_name2 {
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.7;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 p, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 p {
  font-size: 10px;
  margin-top: 25px;
  color: #fff;
  max-width: 60%;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .znak, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .znak {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 {
  transition: 0.3s ease-in-out;
  flex: 1;
  max-width: 320px;
  height: 260px;
  background-color: #3b3b3b;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  opacity: 0.7;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 p {
  text-align: center;
  color: #fff;
  max-width: 270px;
  font-size: 14px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .comment_name2 {
  margin-top: 25px;
  margin-bottom: 50px;
  opacity: 0.5;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .znak {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  max-width: 320px;
  height: 260px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.7;
  margin-right: 15px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .comment_name, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .comment_name2, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .comment_name2 {
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.7;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 p, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 p {
  font-size: 10px;
  margin-top: 25px;
  color: #fff;
  max-width: 60%;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .znak, .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .znak {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 {
  transition: 0.3s ease-in-out;
  flex: 1;
  max-width: 320px;
  height: 260px;
  background-color: #3b3b3b;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  opacity: 0.7;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 p {
  text-align: center;
  color: #fff;
  max-width: 270px;
  font-size: 14px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .comment_name2 {
  margin-top: 25px;
  margin-bottom: 50px;
  opacity: 0.5;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .znak {
  display: none;
}
.comments .swiper2 .slajdovi {
  margin: 0 auto;
  position: absolute;
  height: 100%;
}
.comments .swiper2 .slajdovi .swiper-button-next,
.comments .swiper2 .slajdovi .swiper-button-prev {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.comments .swiper2 .slajdovi .swiper-button-next {
  border: 1px solid white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  right: -305px;
}
.comments .swiper2 .slajdovi .swiper-button-next::after {
  font-size: 18px;
  margin-left: 2px;
  margin-top: 2px;
}
.comments .swiper2 .slajdovi .swiper-button-prev {
  border: 1px solid white;
  border-radius: 100%;
  left: -305px;
  height: 25px;
  width: 25px;
}
.comments .swiper2 .slajdovi .swiper-button-prev::after {
  font-size: 18px;
  margin-right: 2px;
  margin-top: 2px;
}

.alle {
  margin: 80px auto 50px auto;
  background-color: #B50014;
  color: #fff;
  width: 160px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid white;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.alle p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.alle p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #B50014;
}
.footer .logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .logo .logo-img {
  width: 100px;
  height: 100px;
}
.footer .info-glavni {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.footer .info-glavni .infoo {
  text-align: left;
}
.footer .info-glavni .infoo p {
  position: relative;
  color: #fff;
  font-size: 12px;
}
.footer .info-glavni .infoo p::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.footer .info-glavni .infoo p.fa-map-pin::before {
  content: "\f276";
}
.footer .info-glavni .infoo p.fa-phone::before {
  content: "\f095";
}
.footer .info-glavni .infoo p.fa-envelope::before {
  content: "\f0e0";
}
.footer .social-media {
  flex: 1;
  color: #fff;
  display: flex;
  align-items: center;
}
.footer .social-media p {
  font-size: 14px;
  padding: 0px;
}
.footer .social-media .icons {
  display: flex;
  gap: 5px;
}
.footer .social-media .icons .fb,
.footer .social-media .icons .tw,
.footer .social-media .icons .ig,
.footer .social-media .icons .yt {
  border: 1px solid white;
  border-radius: 100%;
  padding: 0px;
  margin: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-media .icons .fb i,
.footer .social-media .icons .tw i,
.footer .social-media .icons .ig i,
.footer .social-media .icons .yt i {
  margin-left: 1px;
}

.last-container {
  background-color: #ff0000;
  margin-top: 0px;
}
.last-container .last1 {
  padding: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6705882353);
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 15px;
}
.last-container .last1 .lastt {
  display: flex;
  width: 80%;
}
.last-container .last1 .lastt .frst {
  display: flex;
  flex: 1;
  width: 350px;
  justify-content: left;
}
.last-container .last1 .lastt .frst .first {
  margin: 0;
  color: #999999;
  font-size: 11px;
}
.last-container .last1 .lastt .scnd {
  display: flex;
  flex: 1;
  justify-content: right;
}
.last-container .last1 .lastt .scnd .second {
  margin: 0;
  color: #999999;
  font-size: 11px;
}
.last-container .last1 .lastt .sec {
  color: #b6b6b6;
}

@media (max-width: 1350px) {
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider .info-slider {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 280px;
    bottom: 20%;
    left: 0;
    background-color: rgba(23, 23, 23, 0.4509803922);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .slider .info-slider .sliderr {
    padding-right: 30px;
    width: 220px;
    padding-bottom: 20px;
  }
  .slider .info-slider .sliderr .naslov {
    font-weight: bold;
    font-size: 28px;
  }
  .slider .info-slider .sliderr .opis-naslov {
    color: #cecbcb;
    font-size: 14px;
  }
  .slider img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1230px) {
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider .info-slider {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 280px;
    bottom: 15%;
    left: 0;
    background-color: rgba(23, 23, 23, 0.4509803922);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .slider .info-slider .sliderr {
    padding-right: 30px;
    width: 220px;
    padding-bottom: 20px;
  }
  .slider .info-slider .sliderr .naslov {
    font-weight: bold;
    font-size: 28px;
  }
  .slider .info-slider .sliderr .opis-naslov {
    color: #cecbcb;
    font-size: 14px;
  }
  .slider img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1100px) {
  .slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider .info-slider {
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 280px;
    bottom: 15%;
    left: 0;
    background-color: rgba(23, 23, 23, 0.4509803922);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .slider .info-slider .sliderr {
    padding-right: 30px;
    width: 220px;
    padding-bottom: 20px;
  }
  .slider .info-slider .sliderr .naslov {
    font-weight: bold;
    font-size: 28px;
  }
  .slider .info-slider .sliderr .opis-naslov {
    color: #cecbcb;
    font-size: 14px;
  }
  .slider img {
    z-index: 0;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  nav {
    font-size: 14px;
  }
  .comments {
    height: 500px;
  }
  .comments .swiper2 .iznad {
    width: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 50;
    top: 150px;
  }
  .comments .swiper2 .iznad .grillkurs {
    display: flex;
    max-width: 70px;
    z-index: 50;
  }
  .comments .swiper2 .iznad .stars {
    padding-top: 10px;
    display: flex;
    max-width: 70px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev {
    opacity: 0;
  }
  .comments .swiper2 .slajdovi {
    position: relative;
  }
  .comments .swiper2 .slajdovi .swiper-button-next {
    right: 235px;
    position: absolute;
    z-index: 20;
    top: 210px;
    transform: scale(1.5);
  }
  .comments .swiper2 .slajdovi .swiper-button-next::after {
    margin-left: 3px;
    margin-top: 1px;
  }
  .comments .swiper2 .slajdovi .swiper-button-prev {
    left: -40px;
    position: absolute;
    transform: scale(1.5);
    top: 210px;
    left: -315px;
  }
  .comments .swiper2 .slajdovi .swiper-button-prev::after {
    margin-right: 3px;
    margin-top: 1px;
  }
}
@media (max-width: 1050px) {
  nav {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  nav .time {
    color: #fff;
    text-align: left;
    font-size: 14px;
    margin-top: -84px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: right;
    vertical-align: middle;
  }
  nav .time .time-p {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
    min-width: 1020px;
  }
  nav .time .time-p p {
    margin: 0;
    display: inline-block;
    padding: 2px;
  }
  nav .time .time-p .bold {
    font-weight: bold;
    padding-left: 3px;
  }
  nav .time .time-p img {
    margin: 0;
    height: 14px;
    width: 14px;
    z-index: 800;
  }
}
@media (max-width: 980px) {
  .photos {
    transition: 0.5s ease-in-out;
    text-align: center;
    padding-top: 44px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .photos .photos1,
  .photos .photos2 {
    display: flex;
    justify-content: center;
  }
  .photos .photos1 .schwein,
  .photos .photos1 .wurstchen,
  .photos .photos2 .schwein,
  .photos .photos2 .wurstchen {
    padding: 9px 9px 0px 0px;
  }
  .photos .photos2 {
    padding-bottom: 80px;
  }
  .photos img {
    padding: 9px 0px 0px 0px;
    width: 230px;
    height: 220px;
  }
}
@media (max-width: 920px) {
  nav ul .vidi {
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 200;
  }
  nav ul .vidi a {
    display: block;
  }
  nav ul li .logo {
    display: flex;
    left: 10px;
    z-index: 100;
  }
  nav ul li a {
    display: none;
  }
  nav .toggle_btn {
    display: block;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
  }
  .slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .slider .drop_menu {
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .slider .drop_menu li {
    display: block;
    padding: 20px;
  }
  .slider .drop_menu li a {
    text-decoration: none;
    color: #fff;
  }
  .slider .drop_menu.open {
    display: flex;
    right: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .slider .swiper1 .slajdovi {
    display: none;
  }
  .slider .info-slider {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    position: relative;
    bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
  }
  .slider .info-slider .sliderr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .slider .info-slider .sliderr .naslov {
    font-size: 38px;
    margin: 0;
    text-align: center;
  }
  .slider .info-slider .sliderr .opis-naslov {
    font-size: 16px;
    text-align: center;
    width: 385px;
  }
  .dry-aged {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .dry-aged .ostalo {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  .dry-aged .ostalo .ostalo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dry-aged .ostalo .ostalo2 h2 {
    font-size: 32px;
  }
  .dry-aged .ostalo .ostalo2 h3 {
    font-size: 22px;
  }
  .dry-aged .ostalo .ostalo2 p {
    width: 345px;
  }
  .dry-aged .ostalo .ostalo2 .buttons {
    display: flex;
    justify-content: center;
  }
  .dry-aged .ostalo .ostalo2 .buttons button {
    width: 182px;
    height: 49px;
    margin-left: 0;
    margin-top: 20px;
    display: flex;
  }
  .dry-aged .ostalo .ostalo2 .buttons button p {
    transition: 0.2s ease-in-out;
  }
  .dry-aged .ostalo .ostalo2 .buttons button p:hover {
    transform: scale(1.08);
    transition: 0.2s ease-in-out;
  }
  .dry-aged .dry-aged-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .dry-aged .dry-aged-img .slike #cetvrta {
    width: 100%;
    max-height: 400px;
  }
  .dry-aged .dry-aged-img .slike .slikee {
    display: flex;
    max-height: 150px;
  }
  .dry-aged .dry-aged-img .slike .slikee #prva,
  .dry-aged .dry-aged-img .slike .slikee #druga {
    padding: 5px 7px 0px 0px;
    flex: 1;
    width: 30%;
    height: auto;
  }
  .dry-aged .dry-aged-img .slike .slikee #treca {
    padding: 5px 0px 0px 0px;
    flex: 1;
    width: 30%;
    height: auto;
  }
  .allprices .prices {
    display: flex;
    flex-direction: column;
  }
  .allprices .prices .ausgezeichneter {
    padding: 0;
  }
  .allprices .prices .nagrada1,
  .allprices .prices .nagrada2,
  .allprices .prices .nagrada3,
  .allprices .prices .nagrada4 {
    text-align: center;
    padding-left: 0px;
  }
  .allprices .prices .nagrada1 img,
  .allprices .prices .nagrada2 img,
  .allprices .prices .nagrada3 img,
  .allprices .prices .nagrada4 img {
    max-width: 100%;
  }
  .allprices .prices .nagrada1 p,
  .allprices .prices .nagrada2 p,
  .allprices .prices .nagrada3 p,
  .allprices .prices .nagrada4 p {
    color: #6b6a6a;
    font-size: 12px;
    max-width: 125px;
  }
  .buchen {
    position: relative;
    height: 100%;
    color: #fff;
    text-align: left;
    background-color: #B50014;
    display: flex;
    flex-direction: column;
  }
  .buchen .lista {
    flex: 1;
    width: 100%;
    height: 70%;
  }
  .buchen .lista .list1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buchen .lista .list1 h2 {
    text-align: center;
    margin-top: 100px;
  }
  .buchen .lista .list1 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    max-width: 300px;
  }
  .buchen .lista .list1 ul li {
    list-style: circle;
    max-width: 100%;
    text-align: center;
  }
  .buchen .lista .list1 button {
    background-color: #fff;
    color: black;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    margin: 50px 0px 0px 0px;
  }
  .buchen .dry-aged-img {
    width: 100%;
    padding: 0;
    margin-top: 50px;
    display: flex;
  }
  .buchen .dry-aged-img #buchen-img {
    width: 100%;
    height: auto;
  }
  .spices {
    position: relative;
    width: 100%;
    height: auto;
    color: #fff;
    text-align: left;
    background-color: #B50014;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin-top: 80px;
  }
  .spices .dry-aged-img {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 50px;
  }
  .spices .dry-aged-img img {
    width: 100%;
  }
  .spices .lista {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spices .lista .list1 {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .spices .lista .list1 h2 {
    max-width: 230px;
    font-size: 32px;
  }
  .spices .lista .list1 h3 {
    max-width: 100%;
    margin-top: -15px;
    font-size: 22px;
  }
  .spices .lista .list1 p {
    max-width: 70%;
  }
  .photos .photos1,
  .photos .photos2 {
    padding-bottom: 0px;
  }
  .metzgerei {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .metzgerei .logotext {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .metzgerei .logotext .logo {
    flex: 1;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .metzgerei .logotext .logo img {
    max-width: 100%;
  }
  .metzgerei .logotext .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0;
    flex: 1;
    padding-top: 100px;
  }
  .metzgerei .logotext .text .butoni {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  .metzgerei .logotext .text .butoni p {
    margin: 0;
    padding-top: 0px;
    text-align: center;
  }
  .metzgerei .logotext .text .butoni button {
    background-color: #B50014;
    color: #fff;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid white;
    margin: 0 auto;
  }
  .allprices {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 68px 0px 100px 0px;
  }
  .allprices p {
    display: flex;
    color: #6b6a6a;
    font-size: 12px;
  }
  .allprices .prices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 78px;
  }
  .allprices .prices .prices1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .allprices .prices .prices1 .nagrada1,
  .allprices .prices .prices1 .nagrada2 {
    text-align: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    justify-content: center;
  }
  .allprices .prices .prices1 .nagrada1 p,
  .allprices .prices .prices1 .nagrada2 p {
    margin: 10px 0px 0px 0px;
    max-width: 150px;
  }
  .allprices .prices .prices1 .nagrada1 img,
  .allprices .prices .prices1 .nagrada2 img {
    max-width: 100%;
  }
  .allprices .prices .prices2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .allprices .prices .prices2 .nagrada3,
  .allprices .prices .prices2 .nagrada4 {
    text-align: center;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    justify-content: center;
  }
  .allprices .prices .prices2 .nagrada3 p,
  .allprices .prices .prices2 .nagrada4 p {
    margin: 10px 0px 0px 0px;
    max-width: 150px;
  }
  .allprices .prices .prices2 .nagrada3 img,
  .allprices .prices .prices2 .nagrada4 img {
    max-width: 100%;
  }
  .allprices .ausgezeichneter {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .leute {
    margin: 0 auto;
    max-width: 300px;
  }
  .comments {
    height: 500px;
    padding-top: 60px;
    max-width: 500px;
    margin: 0 auto;
  }
  .comments .wrapper {
    justify-content: center;
    display: flex;
  }
  .comments .wrapper .comment1 {
    flex: 1;
    text-align: center;
    max-width: 450px;
    transition: 0.5s ease-in-out;
    height: 380px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
  }
  .comments .wrapper .comment1 .grillkurs {
    display: flex;
    max-width: 100%;
    margin-top: 0px;
  }
  .comments .wrapper .comment1 .stars {
    max-width: 100%;
    margin-top: 10px;
  }
  .comments .wrapper .comment1 p {
    margin-top: 25px;
    color: #fff;
    max-width: 320px;
  }
  .comments .wrapper .comment1 .znak {
    position: absolute;
    max-width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    bottom: -20px;
    right: 20px;
  }
  .comments .wrapper .comment2 {
    display: none;
  }
  .comments .wrapper .comment3 {
    display: none;
  }
}
@media (max-width: 750px) {
  .comments {
    height: 500px;
  }
  .comments .swiper2 .swiper-wrapper .comment1,
  .comments .swiper2 .swiper-wrapper .comment2,
  .comments .swiper2 .swiper-wrapper .comment3 {
    max-width: 350px;
  }
  .comments .swiper2 .slajdovi .swiper-button-next {
    right: 235px;
  }
  .comments .swiper2 .slajdovi .swiper-button-prev {
    left: -315px;
  }
}
@media (max-width: 810px) {
  .footer {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #B50014;
    flex-direction: column;
    justify-content: center;
  }
  .footer .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .logo .logo-img {
    width: 100px;
    height: 100px;
  }
  .footer .info-glavni {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
  }
  .footer .info-glavni .infoo {
    text-align: left;
  }
  .footer .info-glavni .infoo p {
    position: relative;
    color: #fff;
    font-size: 12px;
  }
  .footer .info-glavni .infoo p::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  .footer .info-glavni .infoo p.fa-map-pin::before {
    content: "";
  }
  .footer .info-glavni .infoo p.fa-phone::before {
    content: "";
  }
  .footer .info-glavni .infoo p.fa-envelope::before {
    content: "";
  }
  .footer .social-media {
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
  }
  .footer .social-media p {
    font-size: 14px;
    padding: 0px 15px;
  }
  .footer .social-media .icons {
    padding-bottom: 20px;
  }
  .footer .social-media .icons .fb,
  .footer .social-media .icons .tw,
  .footer .social-media .icons .ig,
  .footer .social-media .icons .yt {
    border: 1px solid white;
    border-radius: 100%;
    padding: 0px;
    margin: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .social-media .icons .fb i,
  .footer .social-media .icons .tw i,
  .footer .social-media .icons .ig i,
  .footer .social-media .icons .yt i {
    margin-left: 0px;
    margin-top: 1px;
  }
  .last-container {
    background-color: #ff0000;
    margin-top: 0px;
  }
  .last-container .last1 {
    padding: 0px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6705882353);
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .last-container .last1 .lastt {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 10px;
    padding: 20px;
  }
  .last-container .last1 .lastt .frst {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .last-container .last1 .lastt .frst .first {
    margin: 0;
    color: #999999;
    font-size: 11px;
  }
  .last-container .last1 .lastt .scnd {
    display: flex;
    justify-content: center;
  }
  .last-container .last1 .lastt .scnd .second {
    margin: 0;
    color: #999999;
    font-size: 11px;
  }
  .last-container .last1 .lastt .sec {
    color: #b6b6b6;
  }
}

/*# sourceMappingURL=style.css.map */
